html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-size: 140%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: rgba(0,0,0,0.7);

}

/** css **/

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

nav{
    height: 50px;
    z-index: 99;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar .dropdown-menu:after{
    color:white;
    background-color: #606;
}

.dropdown-menu{

    background-color: #320033;
    border: 3px solid #320033;
}

li:hover{

    background-color: #320033;

}

.navbar{
    color: white;
    height: 100px;
    height: 9%;
}


#navpersonal{

    background-color: #606;
    max-height: 0px;
    border: none;
    border-radius: 0;
    color: white;
    border-bottom: 59px solid #e3e3e3;
}


.lipersonal:hover
{
    background-color: #320033 !important;
}

.atext{

    color: white !important;

}

#navbar{
    margin-right: 0.8%;
    font-size: 1.2em;
    margin-top: -0.1%;
}

.divider{

    background-color: #501950 !important;

}

a:hover{
    background-color: transparent !important;
    cursor: pointer;
    color: #F6D1ED !important;
}


.active{

    background-color: #606;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{

    background-color: #320033 !important;
    color: white !important;
}



.navbar-collapse{

    background-color: #606 !important;
}

.m-hefo{


    background-color: #606 !important;
    border-radius: 0px;
    color: white !important;

}

#imgcarousel{

    width: 100%;
    height: 100%;
}


@media (min-width: 1255px) {

    #patrocinado{
        margin-top: -20%
    }
}

@media (min-width:300px) and (max-width: 1250px) {

    #patrocinado,#patrocinadoT{
        display: none;
    }

}


#busquedaT{
    margin-left: 0.010%;
}


/**
#panelfe:after {

    content:"";
    border-color: #333 transparent transparent transparent;
    border-style:solid;
    border-width:25px;
    position: absolute;
    margin-top: 25px;
    margin-left: -65%;
}*/

@media (max-width: 992px)
{
    #panelfe:after {
        margin-left:-160px;
    }
}

@media (min-width: 993px)
{
    #panelfe:after {
        margin-left:-10%;
        border-style:solid;
        border-width:32px;
    }
}

#panelDes:after {

    content:"";
    border-color: #333 transparent transparent transparent;
    border-style:solid;
    border-width:25px;
    position: absolute;
    margin-top: 30px;

}

@media (max-width: 992px)
{
    #panelDes:after {
        margin-left:-80px;
    }
}

@media (min-width: 993px)
{
    #panelDes:after {
        margin-left:-80%;
    }
}

#noticiaDes{
    text-align: justify;
}
#panelNoticias
{
    border-bottom-width: 4px;
    border-bottom-color: #ccc;
}
#noticiasHeader
{
    background:#606;
    color:white;
    border-radius: 4px;

}

#tituloNotica,#textoNoticia{
    margin:5px;
    text-align: justify;

}

#tituloNotica {
    font-family: 'Prociono', serif;
    font-size: 19px;
    font-weight: bold;
    color : #606;
}
h1.post-title {
    display:block;
    position: relative;
    overflow:hidden;
    width: 85%;height: 2em;
    margin: 5px 0 0 -33px;
    padding:2px 4px 4px 60px;
    border: 2px solid #EACB71;
    text-transform: none;
    font: normal normal 1.60em "Yanone Kaffeesatz", Helvetica;
    line-height: 1.10em;
    -moz-border-radius: 0 8px 8px 0;
    -webkit-border-radius: 0 8px 8px 0;
    border-radius: 0 8px 8px 0;
}

hr.separador_post {
    height: 30px;
    border-style: solid;
    border-color: #BFBFBF;
    border-width: 2px 0 0 0;
    border-radius: 20px;
    text-align: center;
    margin-bottom: -2%;
}

hr.separador_post:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: rgb(163, 150, 150);
    border-width: 0 0 1px 0;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
}

hr.separador_post:after {
    content: "\f08d";
    font-family: FontAwesome;
    color: #606;
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

hr.separador_fran {
    height: 30px;
    border-style: solid;
    border-color: #BFBFBF;
    border-width: 2px 0 0 0;
    border-radius: 20px;
    text-align: center;
    margin-bottom: -2%;
}

hr.separador_fran:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: rgb(163, 150, 150);
    border-width: 0 0 1px 0;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
}

hr.separador_fran:after {
    content: "\f063";
    font-family: FontAwesome;
    color: #606;
    display: inline-block;
    position: relative;
    top: -0.7em;
    //font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

#newsEnlace{
    color: #606;
}

#footer1
{
    text-align: center !important;
    font-size: 1.1em;
    margin-bottom: 5%;
}


#footer2,#footer3{
    font-family: prociono !important;
    font-weight: bold;
    text-align: center;

}
.lista-footer>li{
    margin-bottom: 3%;
    font-size: 0.9em!important;
}

#footer2 label{
    font-size: 1.1em !important;
}

#subir
{
    margin-top: 4%;
    margin-bottom: -5%;
    border-top: 5px solid #DDD !important;
}

#subir-click
{
    cursor: pointer;
}

.dfooter{
    margin-top: 2%;
}

#subir-icon
{
    margin-top: -2.3%;
}

@media (min-width: 310px ) and (max-width:399px)
{
    #subir-icon{
        margin-top: -10.5%
    }
}

@media (min-width: 400px ) and (max-width:690px)
{
    #subir-icon{
        margin-top: -5%
    }
}
@media (min-width: 670px ) and (max-width:990px)
{
    #subir-icon{
        margin-top: -3.8%
    }
}

@media (min-width: 991px ) and (max-width:1315px)
{
    #subir-icon{
        margin-top: -2.6%
    }


}

@media (min-width: 1316px )
{
    #subir-icon{
        margin-top: -1.8%

    }

    #patrocinado{

        margin-top: -17%;
    }

    #imagen-noticia{

        margin-bottom: 10px;
    }


}
.caja-redes {
    margin: 0 auto;
    position: relative;
}
.caja-redes a {
    text-align: center;
    font-size: 20px;
}
.icon-button {
    background-color: white;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    height: 3em;
    line-height: 3em;
    margin: 0 8px;
    position: relative;
    width: 3em;
}
.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}
.icon-button:hover span {
    width: 3em;
    height: 3em;
    border-radius: 3em;
    margin: -1.5em;
}
.youtube span {
    background-color: #C92228;
}
.pinterest span {
    background-color: #C92228;
}
.twitter span {
    background-color: #4099ff;
}
.facebook span {
    background-color: #3B5998;
}
.google-plus span {
    background-color: #db5a3c;
}
/* Iconos */
.icon-button i {
    background: none;
    color: white;
    left: 0;
    line-height: 3em;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 3em;
    z-index: 2;
}

.icon-button .icon-youtube {
    color: #C92228;
}
.icon-button .icon-twitter {
    color: #4099ff;
}
.icon-button .icon-facebook {
    color: #3B5998;
}
.icon-button .icon-google-plus {
    color: #db5a3c;
}
.icon-button:hover .icon-linkedin, .icon-button:hover .icon-youtube, .icon-button:hover .icon-twitter, .icon-button:hover .icon-facebook, .icon-button:hover .icon-google-plus {
    color: white;
}

.lista-footer li:hover
{
    background: transparent;
}

h1, h2{
    font-family: Prociono;
    font-weight: bold;
}

h1{ font-size: 35px; }

h2{ font-size: 25px; }

p{ text-align: justify; }

.navbar-nav>li>a {
    padding-top: 16px;
    padding-bottom: 21px;
}

#navpersonal>div{
    background-color: #606;
}

#separador{ border-top-width: 5px; }

#tperfil td { width: 50%; }

#mycarousel{
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 4px 15px 0px #4a4a4a;
}

.fcontacto section{
    padding: 1%;
}

.areaform{
    resize:vertical;
}

#main {
    padding-left: 2.5%;
    padding-right: 2.5%;
}

li:hover{
    background-color: transparent;
}

.aSuperior
{
    margin-bottom: 3%;
}

.myfooter{
    margin-right: 0;
    padding-bottom: 4%;
}

h2 > a {
    color: #606 !important;
}

.tservices{
    width:31%;
}

.textoblanco{
    color: white !important;
    font-size:19px;
}

.buscador
{
    background: #839AA8;
    margin:0;
    padding:10px;
    margin-top: 1%
}

.especiales, a {
    color: #606;
}


h4.active {
    color : black;
}
a:active:hover{
    color:black;
}

a:link:hover{
    color:black;
}

a:hover, a:active {
    color:black;
}


ul, ol {
    list-style: none;
}

#accordion1 li.panel{
    margin-bottom: 0px;
}

#accordion{
    font: bold 14px Arial, sans-serif;
}
.panel > a {
    background-color: #ECECEC;
}

.list-group-item > span {
    margin-right: 1%;
}

.small{
    padding-left: 8%;
}

a:hover {
    color: #000 !important;
}

body,a,label,h1,h2,h3,h4,h5,h6,div{
    font-family: 'Prociono', serif;
    text-rendering: optimizelegibility;
}

.well_efect{
    box-shadow: 0 0 3px rgba(0,0,0,.6);
}

.nav{
    padding-left: 2%;
}

.nav > li a:hover{
    color: white !important;
}

.paginacion{
    text-align: center;
}

.pagination a,li{
    color:#606 !important;
}

.fecha_publicacion{
    font-family: Italic;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    position: relative;
    color: rgba(0, 0, 0, 0.53);
}

.capital:first-letter{
    text-transform: capitalize;
    font: 50px/40px Georgia,Times,serif;
    float: left;
}

.servicios li>p {
    color: black;
}

.panel_subcategorias {
    padding-left: 2%;
    padding-right: 2%;
}

.badge-info{
    background-color: #3a87ad !important;
}

.claves{
    list-style: inherit;
}

.separador_lista{
    border: 0;
    border-top: 1px solid #eee;
    padding-bottom: 5px;
}

.img_destacados{
    border-radius: 10px !important;
}

@media (max-width: 992px ) {
    .anuncio {
        width: 48%;
        margin-left: 1.5%;

    }

}

@media(max-width: 610px) and (min-width: 525px)
{
    .letra{
        font-size: 15px;
    }

}


@media(max-width: 525px) and (min-width: 400px)
{
    .letra{
        font-size: 13px;
    }
}

@media(max-width: 1200px) and (min-width: 992px)
{
    .letra{
        font-size: 13px;
    }

}

@media(max-width: 400px) and (min-width: 250px)
{
    .letra{
        font-size: 11px;
    }

}

.elegante{
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 1px 6px -2px black;
}

.carosuelref{
    color: white;
}

#logo{
    margin: 0;
}

.img-noticia{
    float: left;
    margin-right: 1%;
    border-radius: 10%;
    width: 22%;
    height: 10%;
}

@media (min-width: 510px ) and (max-width: 991px){
    .img-prenoticia {
        width: 0%;
    }
}

.img-prenoticia{
    border-radius: 100%;
    width: 110%;
}

.img-prenoticia:hover{
    width: 112%;
}

.listas > li{
    color: black !important;
}

.c_especial
{
    width: 100%;
    height: 20%;
}

.f-logo{
    width: 90%;
    height: 100px;
}

.f-desc{
    margin-top: -2%;
}

.perfilDesc >ul> li{
    color: rgb(82, 82, 83) !important;
}

.separador_inicio{
    border-top: 1px solid #B3B0B0 !important;
}

#publicidad{

    width: 1920px;
    height: 90px;
}

.carosuelref:hover {

    color:#00bfff !important;
}
@media(min-width:  200px) and (max-width: 767px){
    .subcategorias1{
        margin-left: 0px !important;
    }
}
@media(min-width:  200px) and (max-width: 767px){
    .subcategorias2 {
        margin-right: 0px !important;
    }
}

@media(min-width:  200px) and (max-width: 767px){
    .subcategorias3 {
        margin-left:  0px !important;
    }
}