RewriteEngine on
RewriteCond $1 !^(index.php|public|area_privada|articulos|css|fonts|robots.txt|images|informacion|js|lolibox|perfil|PieProgress|publicaciones|carousel.blade.php)
RewriteRule ^(.*)$ /index.php/$1 [L]


